/*--------------GENERAL SETTINGS START---------------*/

body {
    background-image: url(new_media/background.jpg);
    background-repeat: repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
}

#dok_style {
    padding: 0 5%;
}

* {
    box-sizing: border-box;
}


#needs,
#approach,
#benefits,
#action,
#competition,
#site,
#app,
#gruppe,
#pitch {
    max-width: 1800px;
    /*KONTROLLERER MAX BREDDE PÅ DINE SECTIONS*/
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

/*--------------GENERAL SETTINGS END---------------*/

/*-----------------MENU--------------------*/

.pres_header {
    position: fixed;
    background: rgba(0, 0, 0, 0.71);
    width: 100vw;
    padding: 0;
    z-index: 100;
}

.pres_header nav {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 0 2vw 0 0;
}

.pres_header nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 50px;
    display: block;
}

.pres_header nav a:hover {
    color: #BD9882;
    /*en anden farve når musen går henover*/
}

@media screen and (min-width: 668px) {
    /*Så bliver menuen på række inden når formaten bliver større end ipad*/
    .pres_header nav a {
        display: inline-block;
    }
}

#eksempler .column_content a {
    text-decoration: underline;
    color: #006465;
}

#eksempler .column_content a:hover {
    color: black;
    /*en anden farve når musen går henover*/
}

/*---------------------FONTE-----------------------*/

h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 5em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2.5em;
    margin: 50px 0 0 0;
    padding: 5px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.5em;
}
#dok_style h2 {
    color: black;
    font-size: 2.5em;
}
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

strong {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.2em;
}


footer {
    margin: 10px;
}


/*------------SPLASH---------------*/

#splash {
    width: 100vw;
    height: 167.2vw;
    background-image:url(new_media/desktop4.png);
    background-size: cover;
}

#splash img {
    width: 100%;
}


/*--------------MEDIA QUERIES-------------*/

@media screen and (min-width: 1025px) and (orientation:landscape) {
    #splash {
        height: 56.3vw;
        background-image:url(new_media/desktop4.png);
    }
    #splash img {
        width: 100%;
    }
    nav {
        font-size: 2em;
    }
}

/*--------------------app--------------------*/

#app {
    background-color: rgba(255, 255, 255, 0.74);
    height: 900px;
}

#app img {
    width: 22vw;
}

#app video {
    width: 17vw;
}

#app .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#app .text_app {
    flex-grow: 1;
    width: 50vw;
    flex-basis: 300px;
    margin: 5px;
    padding: 5px;
}

#app .video_app {
    flex-grow: 1;
    padding: 1.9vw 4vw;
    flex-basis: 300px;
    position: relative;
}

.iphone {
    position: absolute;

}

.video {
    position: absolute;
    top: 7vw;
    left: 6.5vw;
    z-index: 20;
}

#app a {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.2em;
}

#app a:hover {
    color: #BD9882;
}


#app h2{
    font-size: 6em;
    padding-top: 19%;
    padding-left: 17%;
}

#app h3{
    font-family: 'Bad Script', cursive;
    font-weight: 100;
    font-size: 6em;
    padding: 0 0 0 17%;
    margin: 2%;

}
#app .ikon_img{
    width: 125px;
    margin: 0 0 0 17%;
}

/*-------------------needs----------------------*/

#needs {
    background-color: rgba(255, 255, 255, 0.74);
}

#needs .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#needs .column {
    flex-grow: 1;
    flex-basis: 300px;
}

#needs .img1 {
    width: 536px;
}

#needs .img2 {
    width: 500px;
}
#needs .img3 {
    width: 667px;
}

#needs h1 {
    padding: 0;
    margin: 0;
}

#needs  {
    margin-bottom: 50px;
    padding-bottom: 5px;
}

/*----------------approach----------------*/

#approach {
    background-color: rgba(255, 255, 255, 0.74);
}

#approach .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#approach .column_wide {
    flex-grow: 1;
    flex-basis: 300px;
}

#approach .column_narrow {
    flex-grow: 1;
    flex-basis: 300px;
    /*padding: 50px;
    margin: 5px;*/
}

/*---------------benefits------------------*/

#benefits {
    background-color: rgba(255, 255, 255, 0.74);
}

#benefits img {
    width: 55%;
    align-self: flex-end;
    padding: 0;
    margin: 0 7% 0 0 ;
}

#benefits .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#benefits .column_wide {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    padding: 5px;
    height: auto;
}

#benefits .column_narrow {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    padding: 5px;
    height: auto;
}


/*--------------------competition--------------------*/

#competition {
    background-color: rgba(255, 255, 255, 0.74);
}

#competition .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#competition .content {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    padding: 5px;
}

/*--------------------action--------------------*/

#action {
    background-color: rgba(255, 255, 255, 0.74);
}

#action .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#action .content {
    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------------site--------------------*/

#site {
    background-color: rgba(255, 255, 255, 0.74);
}

#site .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

/*--------------------action--------------------*/

#gruppe {
    background-color: rgba(255, 255, 255, 0.74);
    margin: 0 auto;
}

#gruppe img {
    width: 8vw;
}

.navn {
    padding: 1% 2% 2% 3%;
    text-align: center;
}

#gruppe .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.mahnaz img{
    border-radius:80px;
}

/*--------------------Pitch--------------------*/

#pitch {
    background-color: rgba(255, 255, 255, 0.74);
    margin: 0 auto;
    text-align: center;
}

#pitch .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#pitch a{
    font-family: Open Sans, sans-serif;
    color: black;
    font-size: 2em;

    padding: 0 0 5% 0;
}

#pitch a:hover{
    color: #BD9882;

}

#pitch h1{
    margin: 5% 0 0 0;
}







/*!!!!!!!!!!!!!!!!!DOKUMENTATIONSSITE!!!!!!!!!!!!!!!!!!!*/

/*--------------DROPDOWN MENU---------------*/

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: .5% 5%;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: left;

}

.dropdown {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 0;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .5em;
}

.dropdown-content a:hover {
    background-color: rgba(13, 13, 13, 0.88);
    color: #BD9882;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: #BD9882;
}


/*--------------DROPDOWN MENU SLUT---------------*/

#overskrift,
#research_markedet,
#brugerinterview,
#persona,
#experience_map,
#forretningsmodel,
#paperprototype_1,
#paperprototype_2,
#paperprototype_3,
#datakodning,
#benchmarking,
#idevalg,
#app_design,
#sectionwrapper_links{
    max-width: 1800px;
    /*KONTROLLERER MAX BREDDE PÅ DINE SECTIONS*/
    margin: 0 auto;
    text-align: center;
}

#overskrift {
    margin: 5%;

    text-align: center;
}

#overskrift img {
    margin: 0;
    width: 25%;
}

#overskrift h1 {
    color: black;
    padding: 0;
    margin: 0;
}

#overskrift h2 {
    color: black;
    padding: 1% 0;
    margin: 0;
}

#dok_style {
    font-family: 'Open Sans', sans-serif;
}

#dok_style a{
    color: black;
    padding-left: 10px;
    padding-bottom: 20px;
}

#dok_style a:hover{
    color: #BD9882;
}

#dok_style p {
    font-size: 1.1em;
}
#dok_style h2 {
    font-size: 2.5em;
}

#dok_style li {
    font-size: 1.1em;
    padding: 5px 0;
    font-weight: 200;
}

#dok_style i {
    font-size: 1em;
    padding: 5px 0;
}
#dok_style b {
    font-size: 1.1em;
}



/*--------------RESEARCH START---------------*/

#research_markedet {
    background-color: rgba(255, 255, 255, 0.74);
}

#research_markedet .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#research_markedet .column {
    flex-grow: 1;
    flex-basis: 300px;
}

#research_markedet .img1 {
    width: 70%;
}

#research_markedet .img2 {
    width: 65.5%;
}

#research_markedet .img3 {
    width:87.5%;
}

#research_markedet .img1:hover {
    transform: scale(1.5);
}

#research_markedet .img2:hover {
    transform: scale(1.5);
}

#research_markedet .img3:hover {
    transform: scale(1.5);
}

#research_markedet p {
    padding: 1vw 10vw;
}

/*--------------RESEARCH SLUT---------------*/

/*--------------BRUGERINTERVIEW START---------------*/

#brugerinterview {
    background-color: rgba(255, 255, 255, 0.74);
}

#brugerinterview .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#brugerinterview .column {
    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------BRUGERINTERVIEW SLUT---------------*/

/*--------------PERSONA START---------------*/

#persona {
    background-color: rgba(255, 255, 255, 0.74);
}

#persona .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#persona .column {
    flex-grow: 1;
    flex-basis: 300px;
}

#persona img {
    width: 400px;
}

#persona p {
    margin: 2% 10%;
}

/*--------------PERSONA SLUT---------------*/

/*--------------FORRETNINGSMODEL START---------------*/

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#forretningsmodel {
    background-color: rgba(255, 255, 255, 0.74);
    flex-basis: 300px;

}

#forretningsmodel p {
    padding: 1% 25%;
}


#forretningsmodel img {
    width: 30%;
    height: 30%;
}

#forretningsmodel img:hover {
    transform: scale(1.5);
}

/*--------------FORRETNINGSMODEL SLUT---------------*/

/*--------------EXPERIENCE MAP START---------------*/

#experience_map {
    background-color: rgba(255, 255, 255, 0.74);
}

#experience_map p {
    padding: 1% 10%;
}

#experience_map .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#experience_map .column {
    flex-grow: 1;
    flex-basis: 400px;
}

#experience_map img {
    width: 500px;
}

#experience_map img:hover {
    transform: scale(1.5);
}

/*--------------EXPERIENCE MAP SLUT---------------*/

/*--------------PAPERPROTOTYPE 1 START---------------*/

#paperprototype_1 {
    background-color: rgba(255, 255, 255, 0.74);
}

#paperprototype_1 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#paperprototype_1 .column {
    flex-grow: 1;
    flex-basis: 300px;
     padding: 2vw;
}

#paperprototype_1 img {
    width: 45%;
}

#paperprototype_1 img:hover {
    transform: scale(1.5);
}

/*--------------PAPERPROTOTYPE 1 SLUT---------------*/

/*--------------PAPERPROTOTYPE 2 START---------------*/

#paperprototype_2 {
    background-color: rgba(255, 255, 255, 0.74);
}

#paperprototype_2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#paperprototype_2 .column {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 2vw;
}

#paperprototype_2 img {
    width: 45%;
}

#paperprototype_2 img:hover {
    transform: scale(1.5);
}

/*--------------PAPERPROTOTYPE 2 SLUT---------------*/

/*--------------PAPERPROTOTYPE 3 START---------------*/

#paperprototype_3 {
    background-color: rgba(255, 255, 255, 0.74);
}

#paperprototype_3 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#paperprototype_3 .column {
    flex-grow: 1;
    flex-basis: 300px;
     padding: 2vw;
}

#paperprototype_3 img {
    width: 45%;
}

#paperprototype_3 img:hover {
    transform: scale(1.5);
}

/*--------------PAPERPROTOTYPE 3 SLUT---------------*/

/*--------------DATAKODNING START---------------*/

#datakodning {
    background-color: rgba(255, 255, 255, 0.74);
}

#datakodning .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#datakodning .column {
    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------DATAKODNING SLUT---------------*/

/*--------------BENCHMARKING START---------------*/

#benchmarking {
    background-color: rgba(255, 255, 255, 0.74);

}

#benchmarking .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#benchmarking .column {
    flex-grow: 1;
    flex-basis: 300px;
     padding: 1vw 15vw;
}

/*--------------BENCHMARKING SLUT---------------*/

/*--------------IDEVALG START---------------*/

#idevalg {
    background-color: rgba(255, 255, 255, 0.74);
}

#idevalg .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#idevalg .column {
    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------IDEVALG SLUT---------------*/

/*--------------APPDESIGN START---------------*/

#app_design {
    background-color: rgba(255, 255, 255, 0.74);
}

#app_design .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#app_design .column {
    flex-grow: 1;
    flex-basis: 300px;
}

#app_design .img4 {
    width: 70%;
    margin: 6.5% 0;
}
#app_design .img5 {
    width: 70%;
}

#app_design .img4:hover {
    transform: scale(1.5)
}
#app_design .img5:hover {
    transform: scale(1.2)
}

#app_design p {
    padding: 0 5vw;

}

#app_design a {
    text-decoration: underline;

}

/*--------------APPDESIGN SLUT---------------*/


#sectionwrapper_links {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 0 0 .2vw 0;
}
