/*--------------GENERAL SETTINGS START---------------*/

body {
    margin: 0;
    padding: 0;
    background-color: black;


}


h1 {
    color: darkslategray;
}

h2,
h4 {
    color: lemonchiffon;
}

a {
    text-decoration: none;
}

/*--------------GENERAL SETTINGS END---------------*/

/*--------------BRUGER MENU START---------------*/

/* EXAMPLE OF HOW A TOP MENU COULD LOOK*/

header {
    position: fixed;
    margin-top: -21.2px;
    /*** Ligger fast på skærmen når man scroller! ***/
    /*** gradient på "ultimate css gradient generator***/
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 60%);
    width: 105%;
}

header nav {
    /*** man har derved defineret KUN headerens nav***/
    font-family: 'Baloo Tammudu', cursive;
    text-align: right;
    margin: 0 5vw 0 0;
    word-spacing: 1vw;
}

.navbar {

    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {

    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {

    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* EXAMPLE OF HOW A TOP MENU COULD LOOK*/

/*--------------BRUGER MENU END---------------*/
